<!DOCTYPE html>
<html>
  <head>
    <title>Your App</title>
  </head>
  <body>
    <% include ./partials/navbar %> <!-- Include the navbar -->
    <%- body %> <!-- This is where the content for each page will be injected -->
  </body>
</html>
